.card {
    width: 30%;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}

.img-fluid{
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.btn {
    float: right;
    width: 100%;
}

small{
    font-size: .9rem;
    color: grey;
}

@media (max-width: 768px) {
    .card-body h5{
        font-size: auto;
        
    }

    .card {
        width: 100%; /* Set the card width to 100% for small screens */
        height: auto;
      }
}