#cardContainer{
    width: 60%;
    height: auto;
    padding: 1%;
    justify-content: space-evenly;
    margin: auto;
}

.login{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.75%;
    margin: auto;
}
